---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Thunno 2">
  <main class="max-w-xl mx-auto py-20">
    <h1
      class="text-5xl font-display uppercase tracking-tighter flex items-center justify-center gap-5"
    >
      Thunno 2
      <img
        src="./thunno_logo.svg"
        alt="Thunno logo"
        class="w-20 inline-block"
      />
    </h1>
    <p class="text-2xl">Heyyy</p>
  </main>
</Layout>
