---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Try Thunno 2">
  <main class="max-w-xl mx-auto py-20">
    <h1 class="text-3xl text-center">Try Thunno 2 Online!</h1>
    <p class="w-2/3 max-w-md mx-auto italic text-sm">
      (This page is largely inspired by
      <a href="https://vyxal.pythonanywhere.com/" class="underline">
        its counterpart for the Vyxal language
      </a>, which itself was inspired by
      <a href="https://tio.run/" class="underline">Try it Online</a>.)
    </p>
    <p class="mt-10 text-4xl text-red-600 font-bold text-center">
      TODO: make this work; for now, go to
      <a
        href="https://ato.pxeger.com/run?1=m728JKM0Ly_faMGCpaUlaboW65Q8UnNy8nUUwvOLclIUlxQnJRdDpWBKAA"
        class="underline"
      >
        Attempt This Online
      </a>
    </p>
  </main>
</Layout>
