---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/thunno2/thunno_logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav class="flex items-center justify-center gap-8 p-5">
        <a href="/thunno2/" class="uppercase font-medium">Thunno 2</a>
        <img src="/thunno2/thunno_logo.svg" alt="Thunno logo" class="w-10" />
        <a href="/thunno2/">Home</a>
        <a href="/thunno2/docs/tutorial/">Tutorial</a>
        <a href="/thunno2/docs/commands/">Command List</a>
        <a href="https://github.com/Thunno/Thunno2">GitHub</a>
      </nav>
      <hr class="w-5/6 mx-auto" />
    </header>
    <slot />
    <footer class="my-10 px-5 max-w-2xl mx-auto text-lg">
      Thunno 2 &copy; 2023-present Rujul Nayak and contributors under the
      Creative Commons Zero v1.0 Universal License.
    </footer>
  </body>
</html>
<style is:global>
  html {
    @apply font-sans bg-violet-200 dark:bg-neutral-900 dark:text-neutral-200;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  body {
    margin: 0;
    padding: 0;
  }
</style>
